In [2]:
import pandas as pd
import yfinance as yf

In [3]:
df_stocks=pd.read_csv(r'C:\Users\Felipe\Documents\GitHub\Udacity_Machine-Learning-for-Trading\Data\Yahoo_Finance\equity_a.csv')

In [4]:
len(df_stocks)

10000

In [5]:
len(df_stocks[df_stocks['exchange']=='SAO'])

67

In [7]:
df_stocks[df_stocks['exchange']=='SAO'].head()

         symbol             name                category    type exchange
369   ATTB34.SA      ATT INC DRN  Communication Services  Stocks      SAO
924   BOAC34.SA  BANK AMERICADRN      Financial Services  Stocks      SAO
959    ABEV3.SA     AMBEV S/A ON      Consumer Defensive  Stocks      SAO
1026   AZUL4.SA       AZUL PN N2             Industrials  Stocks      SAO
1438  ABBV34.SA       ABBVIE DRN              Healthcare  Stocks      SAO

In [8]:
ambev=yf.Ticker('ABEV3.SA')
ambev_hist=ambev.history(period='max')
ambev_hist[ambev_hist['Dividends']!=0].head()

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2008-04-15  1.15  1.15  1.13   1.14  1133771     1.3300           0.0
2008-07-17  0.98  0.98  0.93   0.93  2292570     0.3230           0.0
2008-09-30  1.07  1.13  1.04   1.13  1308967     0.3145           0.0
2009-01-15  1.15  1.17  1.13   1.17   468025     0.3315           0.0
2009-07-06  1.54  1.60  1.53   1.60  1771987     0.3230           0.0

In [9]:
ambev_hist[ambev_hist['Stock Splits']!=0].head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2000-10-20   0.21   0.21   0.21   0.21     55511        0.0          0.20
2005-06-01   0.40   0.40   0.40   0.40    163684        0.0          1.20
2007-08-02   0.96   0.96   0.92   0.94   1756970        0.0          0.05
2010-12-20   4.38   4.44   4.34   4.39    397446        0.0          5.00
2013-11-11  13.95  14.45  13.95  14.19  38092504        0.0          0.20

In [15]:
ambev.major_holders

        0                                      1
0  72.06%        % of Shares Held by All Insider
1   7.41%       % of Shares Held by Institutions
2  26.50%        % of Float Held by Institutions
3     322  Number of Institutions Holding Shares