In [1]:
import pandas as pd
import yfinance as yf
import time
import altair as alt

import precos_temporeal

In [2]:
df_stocks=pd.read_csv(r'C:\Users\Felipe\Documents\GitHub\Udacity_Machine-Learning-for-Trading\Data\Yahoo_Finance\equity_a.csv')

In [3]:
len(df_stocks)

10000

In [5]:
len(df_stocks[df_stocks['exchange']=='SAO'])

67

In [7]:
df_stocks[df_stocks['exchange']=='SAO'].head()

         symbol             name                category    type exchange
369   ATTB34.SA      ATT INC DRN  Communication Services  Stocks      SAO
924   BOAC34.SA  BANK AMERICADRN      Financial Services  Stocks      SAO
959    ABEV3.SA     AMBEV S/A ON      Consumer Defensive  Stocks      SAO
1026   AZUL4.SA       AZUL PN N2             Industrials  Stocks      SAO
1438  ABBV34.SA       ABBVIE DRN              Healthcare  Stocks      SAO

In [8]:
ambev=yf.Ticker('ETHUSD=X')
ambev_hist=ambev.history(period='max')
ambev_hist[ambev_hist['Dividends']!=0].head()

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2008-04-15  1.15  1.15  1.13   1.14  1133771     1.3300           0.0
2008-07-17  0.98  0.98  0.93   0.93  2292570     0.3230           0.0
2008-09-30  1.07  1.13  1.04   1.13  1308967     0.3145           0.0
2009-01-15  1.15  1.17  1.13   1.17   468025     0.3315           0.0
2009-07-06  1.54  1.60  1.53   1.60  1771987     0.3230           0.0

In [9]:
ambev_hist[ambev_hist['Stock Splits']!=0].head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2000-10-20   0.21   0.21   0.21   0.21     55511        0.0          0.20
2005-06-01   0.40   0.40   0.40   0.40    163684        0.0          1.20
2007-08-02   0.96   0.96   0.92   0.94   1756970        0.0          0.05
2010-12-20   4.38   4.44   4.34   4.39    397446        0.0          5.00
2013-11-11  13.95  14.45  13.95  14.19  38092504        0.0          0.20

# precos_temporeal.py

In [2]:
teste=precos_temporeal.precos_temporeal('ETHUSD=X',tempo=10,intervalo=15)

In [5]:
lista=['AAPL','AMZN','ABEV3.SA','AZUL4.SA','MA','V','ETHUSD=X']
lista_historicos = precos_temporeal.historico(lista)

In [6]:
len(lista_historicos)

7

In [7]:
lista_historicos[4]

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2006-05-25    3.02    3.45    3.01    3.45  395343000        0.0           0.0
2006-05-26    3.47    3.50    3.31    3.37  103044000        0.0           0.0
2006-05-30    3.37    3.37    3.21    3.30   49898000        0.0           0.0
2006-05-31    3.32    3.40    3.32    3.37   30002000        0.0           0.0
2006-06-01    3.37    3.61    3.37    3.56   62344000        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2020-06-22  299.60  304.95  297.73  304.44    3489200        0.0           0.0
2020-06-23  307.03  310.43  304.42  306.88    3801500        0.0           0.0
2020-06-24  305.00  305.52  293.06  294.01    5086000        0.0           0.0
2020-06-25  294.16  298.39  290.67  298.01    3294800        0.0           0.0
2020-06-26  296.88  298.11  289.17  289.34    4920600        0.0           0.0

[3547 rows x 7 columns]